{% extends "notes/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}


<div style="display: flex; flex-direction: row; flex-wrap: wrap">

  {% for n in note_list %}
  {#  Single Card Template:#}
  <div class="card" style="width: 18rem; margin: 20px; background-color: lightyellow">
    <div class="card-body">

        <h5 class="card-title">{{ n.title }}</h5>
        <h6 style="font-size: small" class="card-subtitle mb-2 text-body-secondary">{{ n.created }} UTC</h6>

        {% if  n.body|length  < 100 %}
            <p class="card-text">{{ n.body}}</p>
        {% else %}
            <p class="card-text">{{ n.body | slice:":100"}}...</p>
        {% endif %}


    </div>
  <div style="margin: 10px; position: relative; text-align: right;">
  <a style="color: gray; text-decoration: none" href="#" class="card-link">Edit</a>
  </div>
  </div>
  {% endfor %}

</div>


{% endblock %}